  <link rel="stylesheet" href="icon.css">
  <style type="text/css">
    .dip {
      background-color:red;
      padding:12px;
    }
    .dip ul {
      padding: 0;
      margin: 0;
    }
    .dip .numbers li {
      margin: 0;
      list-style-type: none;
      display: inline-block;
      width: 14px;
      color:white;
      font-size: 10px;
      text-align: center;
    }
    .dip .switch li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block;
      width: 14px;
      height: 50px;
      background-color: white;
      cursor: pointer;
    }
    .dip .switch li div {
      width: 15px;
      height: 15px;
      box-shadow: 0 0 3px black;
      background-color: #ccc;
      transition: all .2s;
      -webkit-transition: all .2s; /* Safari */
    }
    .down {
      margin-top:35px;
    }
    .cube {
      position: relative;
      width: 220px;
      height: 100px;
      margin: 50px auto;
      top:0px;
      -webkit-transition: -webkit-transform .33s;
      transition: transform .33s; /* Animate the transform properties */

      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d; /* <-NB */
    }
    .activator, .dip {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 220px;
      height: 100px;
      background-color: red;
      box-shadow: 0 0 20px white;
    }
    .activator {
      -webkit-transform: translateZ(50px);
      padding:20px;
      position: relative;
    }

    .dip {
      position: absolute;
      top: 0;
      -webkit-transform: rotateX(90deg) translateZ(50px);
      transform: rotateX(90deg) translateZ(50px);
    }
    .rotate {
      -webkit-transform: rotateX(-95deg);
      transform: rotateX(-95deg); /* Text bleed at 90º */
    }

    .on_off {
      position: absolute;
      top:50px;
      left:90px;
      width: 100px;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 0 10px white;
      font-size: 24px;
      color:white;
    }

    .on_off > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 40px;
      border-radius: 20px;
      transition: all .3s;
    }

    div.go_on {
      left: -60px;
    }

    .on_off > div > .off,
    .on_off > div > .on {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding:6px;
    }

    .on_off > div > .off {
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 40px;
      background-color: red;
      z-index:10;
    }

    .on_off > div > .circle {
      position: absolute;
      top: 0;
      left: 60px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      z-index:12;
    }

    .on_off > div > .on {
      position: absolute;
      top: 0;
      left: 80px;
      width: 80px;
      height: 40px;
      background-color: green;
      z-index:11;
      text-align: center;
    }

    .device_name {
      position: absolute;
      top:10px;
      left:10px;
      background-color: red;
      color:white;
      border: none;
      font-size: 20px;
      width: 200px;
      text-align: center;
    }
    .plus {
      font-size: 100px;
      color: white;
      margin:auto;
      width:240px;
      font-weight: bold;
      text-align: center;
    }
  </style>
  <div style="padding:10px;background-color:white;color:black;position:absolute;top:0;left:0;cursor:pointer;" onclick="$('.cube').removeClass('rotate');">Back</div>
  <div style="padding:10px;background-color:white;color:black;position:absolute;top:0;right:0;cursor:pointer;" onclick="delete_cookie('connect.sid');$('.main').fadeIn();$('.logged').css('zoom',.8).css('opacity',0);$('.main').css('top',0);setTimeout(function(){$('.logged').css('bottom','105%');$('.logged').css('top','auto');setTimeout(function(){$('.logged').css('zoom',1).css('opacity',1);},500);},500)">Logout</div>
  <div class="cube_sample" style="display:none;">
    <div class="dip">
      <ul class="numbers">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
      </ul>
      <ul class="switch">
        <li class="s_1"><div></div></li>
        <li class="s_2"><div></div></li>
        <li class="s_3"><div></div></li>
        <li class="s_4"><div></div></li>
        <li class="s_5"><div></div></li>
        <li class="s_A"><div></div></li>
        <li class="s_B"><div></div></li>
        <li class="s_C"><div></div></li>
        <li class="s_D"><div></div></li>
        <li class="s_E"><div></div></li>
      </ul>
      <div style="position:absolute;top:0;right:0;color:white;padding:0 4px;cursor:pointer;font-size:22px;" onclick="get_rid_of(this);">x</div>
      <div style="position:absolute;bottom:10px;right:0;color:white;padding:0 4px;cursor:pointer;font-size:22px;text-align:center;line-height:7px;" onclick="$(this).parent().parent().toggleClass('rotate');">|<br>\/</div>
    </div>
    <div class="activator">
      <ul style="width:60px;position:absolute;left:10px;top:50px;">
        <li onclick="$(this).parent().parent().parent().toggleClass('rotate');" style="zoom:2;" class="tools"><a>&nbsp;</a></li>
      </ul>
      <div class="device_name"></div>
      <div class="on_off">
        <div onclick="toggle_on_off(this);">
          <div class="off">OFF</div>
          <div class="circle"></div>
          <div class="on">ON</div>
        </div>
      </div>
    </div>
  </div>


  <div class="plus">
    <input type="text" onkeyup="only_normal_char(this);" placeholder="Add new device with name" style="font-size:15px;padding:5px;color:white;display:inline-block;width:200px;background-color:#f33;border:1px solid #f66;"><div style="display:inline-block;cursor: pointer;" onclick="add_from_plus();">+</div>
  </div>
  <script type="text/javascript">
    
    function toggle_on_off(elem){
      $(elem).toggleClass('go_on');
      
      device = $(elem).parent().parent().parent().attr('class').split(' ')[1].slice(3);

      if($(elem).attr('class') == "go_on"){
        j_data[device].status = "on";
      }else{
        j_data[device].status = "off";
      }
      send_json();
    }
    

    //Get json data and display it
    $.getJSON("get_json", function(data) {
      window.j_data = data;
      $.each(data, function(index, value){
        next_item = $('.cube_sample').clone().removeClass('cube_sample').addClass('cube').addClass('id_'+index).css('display','block');
        $('.plus').before(next_item.outerHTML());
        $('.id_'+index+' .device_name').html(index);
        $.each(value.dip, function(s_num, s_pos){
          if(s_pos == 0){
            $('.id_'+index).find('.s_'+s_num+' div').toggleClass('down');
          }
        });
        if(value.status == "on"){
          $('.id_'+index).find('.on_off > div').toggleClass('go_on');
        }
      });
    });

    

    $("body").scroll(function() {
      $(".cube" ).css('top',$(this).css('top')+5);
    });
    
    jQuery.fn.outerHTML = function() {
        if ($(this).attr('outerHTML'))
            return $(this).attr('outerHTML');
        else
        {
        var content = $(this).wrap('<div></div>').parent().html();
            $(this).unwrap();
            return content;
        }
    }

    function add_from_plus(){
      if(!$('.plus input').val()){
        alert("Device name can't be empty. Please fill out the input field.");
      }else{
        $('.plus').before($('.cube_sample').clone().removeClass('cube_sample').addClass('cube').addClass('id_'+$('.plus input').val()).css('display','block').outerHTML());
        $('.id_'+$('.plus input').val()+' .device_name').html($('.plus input').val());
        
        $('.id_'+$('.plus input').val()+' .dip .switch li div').addClass('down');

        j_data[$('.plus input').val()] = {
          "status": "off",
          "dip":
          {
            "1": "0",
            "2": "0",
            "3": "0",
            "4": "0",
            "5": "0",
            "A": "0",
            "B": "0",
            "C": "0",
            "D": "0",
            "E": "0"
          }
        };
        $('.plus input').val('');
        send_json();
      }
    }
    function send_json(){
      $.ajax({
        url: '/receive_json',
        type: 'post',
        dataType: 'json',
        data: j_data
      });
      console.log("just send");
    }

      $(document).on('click','.dip .switch li',function() {
        $(this).find('div').toggleClass('down');

        device = $(this).parent().parent().parent().attr('class').split(' ')[1].slice(3);
        dip = $(this).attr('class').slice(2);
        if($(this).find('div').attr('class') == "down"){
          j_data[device].dip[dip] = "0";
        }else{
          j_data[device].dip[dip] = "1";
        }
        send_json();
      });

      function only_normal_char(element) {
        var tmpvar = element.value;
        var withoutNoNumbers = tmpvar.replace(/\W/g,'');
        element.value = withoutNoNumbers;
      }

      function get_rid_of(justin_bieber){
        device = $(justin_bieber).parent().parent().attr('class').split(' ')[1].slice(3);
        $(justin_bieber).parent().parent().remove();
        delete j_data[device];
        send_json();
      }

      function delete_cookie(name) {
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        console.log("cookie deleted");
      };

  </script>